/cpp/CppConsoleApp/x64
/.NET/DotNETSolution/ConsoleApp/obj
/.NET/DotNETSolution/ConsoleApp/bin
/.NET/DotNETSolution/CommonLibrary/obj
/.NET/DotNETSolution/CommonLibrary/bin
/.NET/DotNETSolution/ConsoleAppDotNetFramework/obj
/.NET/DotNETSolution/ConsoleAppDotNetFramework/bin
/.NET/DotNETSolution/CommonLibDotNETFramework/obj
/.NET/DotNETSolution/CommonLibDotNETFramework/bin
/.NET/DotNETSolution/packages
/.NET/DotNETSolution/.vs
/.NET/DotNETSolution/GrpcClient/obj
/.NET/DotNETSolution/GrpcClient/bin
/.NET/DotNETSolution/ZENgRPCServer/obj
/.NET/DotNETSolution/ZENgRPCServer/bin
/.NET/DotNETSolution/GrpcClientDotNetFramework/obj
/.NET/DotNETSolution/GrpcClientDotNetFramework/bin
/.NET/DotNETSolution/GrpcClientLibNetFramework/obj
/.NET/DotNETSolution/GrpcClientLibNetFramework/bin
